.tile {
  height:100px;
  width:100px;
  position:relative;
  float:left;
}


#container {
  width: 500px;
  height: 500px;
  position: relative;
  outline: 1px solid black;
}

#hero {
  z-index: 10;
  height: 60px;
  width: 60px;
  padding: 20px;
  position: absolute;
}

.start {
  left: 0;
  top: 0;
}

#enemy {
  z-index: 9;
  height: 60px;
  width: 60px;
  padding: 20px;
  position: absolute;
}


//********Animation to translate to the right********//

@-webkit-keyframes mover {
    0% { -webkit-transform: translateX(0); }
    100% { -webkit-transform: translateX(100px); }
}
@-moz-keyframes mover {
    0% { -moz-transform: translateX(0); }
    100% { -moz-transform: translateX(100px); }
}
@-o-keyframes mover {
    0% { -o-transform: translateX(0); }
    100% { -o-transform: translateX(100px); }
}
@keyframes mover {
    0% { transform: translateX(0); }
    100% { transform: translateX(100px); }
}


.box-mover {
      -webkit-animation: mover .5s ease-in-out forwards;
      -moz-animation: mover .5s ease-in-out forwards;
      -o-animation: mover .5s ease-in-out forwards;
      animation: mover .5s ease-in-out forwards;
  }
