.tile {
  height:100px;
  width:100px;
  position:relative;
  float:left;
}

#main {
  height: 100vh;
  width: 100%;
}


#container {
  position:absolute;
  width: 700px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#shadow {
  position: absolute;
  margin: auto;
  width: 700px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  -webkit-box-shadow: inset 0px 20px 66px 12px rgba(0,0,0,0.89);
-moz-box-shadow: inset 0px 20px 66px 12px rgba(0,0,0,0.89);
box-shadow: inset 0px 20px 66px 12px rgba(0,0,0,0.89);
}



#heroattack {
  z-index: 10;
  height: 60px;
  width: 60px;
  padding: 20px;
  position: absolute;
  background-image: url("../images/avatars/hit.png");
}

.start {
  left: 290px;
  top: 100px;
}

#enemy {
  z-index: 9;
  height: 60px;
  width: 60px;
  padding: 20px;
  position: absolute;
}



.scoreboard {
  border: 2px solid red;
  width: 200px;
  height: 100px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  margin: 25px;
  background-color: #222;
  color: #eee;

}

.timer {
  border: 2px solid red;
  width: 200px;
  height: 100px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  margin: 25px;
  background-color: #222;
  color: #eee;


}

.info{
    width: 200px;
    height: 500px;
    display:flex;
}

#gameover {
  width: 300px;
  height: 150px;
  z-index: 12;
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: #222;
  border: 2px solid red;
  text-align: center;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  color: #eee;
}

#instructions {
  width: 300px;
  height: 300px;
  z-index: 12;
  position: absolute;
  top: 50px;
  left: 550px;
  background-color: #222;
  border: 2px solid red;
  text-align: left;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
  color: #eee;
  padding-left: 10px;
}


//********Animation to translate to the right********//

@-webkit-keyframes mover {
    0% { -webkit-transform: translateX(0); }
    100% { -webkit-transform: translateX(100px); }
}
@-moz-keyframes mover {
    0% { -moz-transform: translateX(0); }
    100% { -moz-transform: translateX(100px); }
}
@-o-keyframes mover {
    0% { -o-transform: translateX(0); }
    100% { -o-transform: translateX(100px); }
}
@keyframes mover {
    0% { transform: translateX(0); }
    100% { transform: translateX(100px); }
}


.box-mover {
      -webkit-animation: mover .5s ease-in-out forwards;
      -moz-animation: mover .5s ease-in-out forwards;
      -o-animation: mover .5s ease-in-out forwards;
      animation: mover .5s ease-in-out forwards;
  }

  /******Sprite Test*******/

  #hero {
    z-index: 10;
    height: 60px;
    width: 60px;
    margin: 15px;
    position: absolute;

     box-shadow: 4px 13px 10px -10px black;

  }

  #hero {
    background-image: url("../images/avatars/herosprite.png");
    background-position: 0 0;
    animation-name: run-x;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2);
}

@keyframes run-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -120px;
    }
}

#enemy1 {
  z-index: 9;
  height: 60px;
  width: 60px;
  margin: 25px;
  position: absolute;
  background-image: url("../images/avatars/enemysprite.png");
  background-position: 0 0;
  animation-name: run-x;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2);
  box-shadow: 1px 13px 10px -10px black;
}

#enemy2 {
  z-index: 9;
  height: 60px;
  width: 60px;
  margin: 25px;
  position: absolute;
  background-image: url("../images/avatars/enemysprite.png");
  background-position: 0 0;
  animation-name: run-x;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2);
  box-shadow: 1px 13px 10px -10px black;
}

#enemy3 {
  z-index: 9;
  height: 60px;
  width: 60px;
  margin: 25px;
  position: absolute;
  background-image: url("../images/avatars/enemysprite.png");
  background-position: 0 0;
  animation-name: run-x;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2);
  box-shadow: 1px 13px 10px -10px black;
}

body {
  background-image: url("../images/ui/worldbg.png");
}
