.tile {
  height:100px;
  width:100px;
  position:relative;
  float:left;
}


#container {
  width: 500px;
  height: 500px;
  position: relative;
  outline: 1px solid black;
}

#hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 50px;
  width: 50px;
}
